# Excluir gradle.properties local (si es específico de tu máquina)
android/gradle.properties

# Excluir archivos generados por Flutter (Linux, macOS, Windows)
/linux/flutter/generated_plugin_registrant.*
/linux/flutter/generated_plugins.cmake
/macos/Flutter/GeneratedPluginRegistrant.swift
/windows/flutter/generated_plugin_registrant.*
/windows/flutter/generated_plugins.cmake

# También excluir builds temporales y caché
/build/
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.metadata
/.idea
/ios/Flutter/.last_build_id